<!-- Header -->
<header id="header" class="header">
  <div class="container header-inner">

    <!-- Logo -->
    <div class="logo">
      <a href="/" id="project-logo">
        <%= image_tag 'logo-white.png', class: 'logo-light', alt: 'project Test' %>
      </a>
    </div>
    <!-- End Logo -->

    <!-- Mobile Navbar Icon -->
    <div class="nav-mobile nav-bar-icon">
      <span></span>
    </div>
    <!-- End Mobile Navbar Icon -->

    <!-- Navbar Navigation -->
    <div class="nav-menu">
      <ul class="nav-menu-inner">
        <li>
          <%= link_to 'Home', "#introCarousel" %>
        </li>
        <li>
          <%= link_to 'Service', "#services" %>
        </li>
        <li>
          <%= link_to 'About', "#about" %>
        </li>
        <li>
          <%= link_to 'Gallery', "#gallery" %>
        </li>
        <li>
          <%= link_to 'Contact', "#contact" %>
        </li>
      </ul>
    </div>
    <!-- End Navbar Navigation -->

  </div>
</header>
<!-- End Header -->
