<div class="gallery" id="gallery">
  <div class="container text-center">
    <h2 class="font-boomerang">Gallery</h2>
    <h6>View our execellent work so far.</h3>
    <hr class="hr-green">
    <div id="gal-slider" class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag 'gal/gal1.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal2.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal3.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal4.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal5.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal6.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal7.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal8.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal9.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal10.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal11.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal12.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal13.jpg' %>
        </li>
      </ul>
    </div>
    <div id="gal-carousel" class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag 'gal/gal1.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal2.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal3.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal4.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal5.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal6.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal7.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal8.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal9.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal10.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal11.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal12.jpg' %>
        </li>
        <li>
          <%= image_tag 'gal/gal13.jpg' %>
        </li>
      </ul>
    </div>
  </div>
</div>