<div class="services" id="services">
  <div class="container text-center">
    <h2 class="font-boomerang">Services</h2>
    <h6>We provide various service to clients.</h3>
      <hr class="hr-green">
    <div class="row">
      <div class="col-lg-4 services-card wow fadeInRight">
        <%= image_tag 'services/tool.png', alt: 'first plant' %>
        <h3 class="pt-4">Landscaping</h3>
        <p class="text-muted">Having a gloomy garden?<br>Choose the type of garden that suits you.</p>
      </div>
      <div class="col-lg-4 services-card wow fadeInUp">
        <%= image_tag 'services/experience.png', alt: 'first plant' %>
        <h3 class="pt-4">Home & Office Garden</h3>
        <p class="text-muted">Why you want to smoke?<br>When you can inhale fresh air.</p>
      </div>
      <div class="col-lg-4 services-card wow fadeInLeft">
        <%= image_tag 'services/unique.png', alt: 'first plant' %>
        <h3 class="pt-4">Farm Consultation</h3>
        <p class="text-muted">Not enough yield?<br>Learn why as we take measures.</p>
      </div>
      <div class="col-lg-4 services-card wow fadeInRight">
        <%= image_tag 'services/vegs.png', alt: 'first plant' %>
        <h3 class="pt-4">Irrigation Practices</h3>
        <p class="text-muted">Trouble watering plants?<br>Choose simple and easy method.</p>
      </div>
      <div class="col-lg-4 services-card wow fadeInUp">
        <%= image_tag 'services/approach.png', alt: 'first plant' %>
        <h3 class="pt-4">Organic Garden</h3>
        <p class="text-muted">Why eat pesticide?<br>Grow your own organic fruit & Vegs.</p>
      </div>
      <div class="col-lg-4 services-card wow fadeInLeft">
        <%= image_tag 'services/plant.png', alt: 'first plant' %>
        <h3 class="pt-4">Indoor Garden</h3>
        <p class="text-muted">Not enough space?<br>Create your own indoor garden.</p>
      </div>
    </div>
  </div>
</div>